<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button mode="md"> </ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
    <div id="div-radio">
      <ion-list>
        <ion-radio-group [(ngModel)]="tipoRegistro">
          <ion-list-header>
            <ion-label>Deseja registrar-se como:</ion-label>
          </ion-list-header>

          <ion-item class="ion-item-tipo" lines="none">
            <ion-label>Motorista</ion-label>
            <ion-radio value="motorista" color="dark" mode=md></ion-radio>
          </ion-item>
          <ion-item class="ion-item-tipo" lines="none">
            <ion-label>Passageiro</ion-label>
            <ion-radio value="passageiro" color="dark" mode=md></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
    
    <ng-container *ngIf="tipoRegistro == 'passageiro';">
      <div class="div-register-form">
        <form [formGroup]="registerFormPassageiro" (ngSubmit)="register()">
          <p>Registre-se como Passageiro</p>
          <input placeholder="Nome" formControlName="nome">
          <input placeholder="Email" formControlName="email">
          <input placeholder="CPF" formControlName="cpf">
          <input placeholder="Telefone" formControlName="telefone">
          <input placeholder="Escola" formControlName="destino">
          <input placeholder="Endereço" formControlName="endereco">
          <input placeholder="Nome de usuário" formControlName="username">
          <input placeholder="Senha" type="password" formControlName="password">
          
          <!-- <input placeholder="Confirmar senha" type="password" formControlName="confirmar_password" > -->

          <button type="submit" [disabled]="registerFormPassageiro.invalid">Registrar</button>
        </form>
      </div>
    </ng-container>

    
    <ng-container *ngIf="tipoRegistro == 'motorista';">
      <div class="div-register-form">
        <form [formGroup]="registerFormMotorista" (ngSubmit)="register()"> 
          <p>Registre-se como Motorista</p>
          <input placeholder="Nome" formControlName="nome">
          <input placeholder="Email" formControlName="email">
          <input placeholder="CPF" formControlName="cpf">
          <input placeholder="Telefone" formControlName="telefone">
          <input placeholder="Nome de usuário" formControlName="username">
          <input placeholder="Senha" type="password" formControlName="password">
          <!-- <input placeholder="Confirmar senha" type="password" formControlName="confirmar_password" > -->

          <button type="submit" [disabled]="registerFormMotorista.invalid">Registrar</button>
        </form>
      </div>
    </ng-container>
  </main>
</ion-content>