<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button text="" style="display: block;"></ion-back-button>
    </ion-buttons>
    <ion-title>Fazer Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main id="main-login">

    <div>
      <form [formGroup]="loginForm">
        <input formControlName="username" name="username" type="text" placeholder="username" >
        <input formControlName="password" name="password" type="password" placeholder="Senha" >
      </form>

      <ng-container *ngIf="errors">
				<p id="error-msg">{{errors.message}}</p>
      </ng-container>
       
    <div id="div-radio-login">
      <ion-list>
        <ion-radio-group [(ngModel)]="tipoLogin">
          <ion-list-header>
            <ion-label >Deseja entrar como:</ion-label>
          </ion-list-header>

          <ion-item mode=md>
            <ion-label>Motorista</ion-label>
            <ion-radio slot="start" value="Motorista" color="dark" mode=md></ion-radio>
          </ion-item>

          <ion-item mode=md> 
            <ion-label>Passageiro</ion-label>
            <ion-radio slot="start" value="Passageiro" color="dark" mode=md></ion-radio>
          </ion-item>


        </ion-radio-group>
      </ion-list>
    </div>

    <div *ngIf="tipoLogin == 'Passageiro';">
      <div id="div-btn">
        <ion-button  (click)="login()" router-direction="forward" color="dark" mode=md>
          Login
        </ion-button>
      </div>
    </div>
    <div *ngIf="tipoLogin == 'Motorista';">
      <div id="div-btn">
        <ion-button  (click)="login()" router-direction="forward" color="dark" mode=md>
          Login
        </ion-button>
      </div>
    </div>

         <div id="div-btn">
        <ion-button color="dark" routerLink="/registro" router-direction="forward" mode=md>
          Registre-se
        </ion-button>
      </div>
    </div>

    
  </main>

</ion-content>