<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>Motorista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let passageiro of listaPassageiros" [routerLink]="'/exibir-usuario/' + passageiro.id">
      <div>
        <h4>{{passageiro.nome}}</h4>
        <p>{{passageiro.destino}}</p>
        <p>{{passageiro.endereco}}</p>
      </div>
      
      <ion-badge color="dark" slot="end">
        ID: {{passageiro.id}}
      </ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
